nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 80px;
  border-radius: 16px;

}


.navbar li{
  display: inline-block;
  list-style: none;
  padding: 0 20px;
  position: relative;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:  #ECF0F1;
    transition: 0.3s ease-in-out;
  }
  /* .navbar li a:hover{
    color: linear-gradient(90deg, #FF00A0 0%, #333399 100%);
  } */
.navbar li a:hover::after,
.navbar li a.active::after{
    content:"";
    width :30%;
    height :2px;
   background: linear-gradient(90deg, #FF00A0 0%, #333399 100%);
    position: absolute;
    bottom:-4px;
    left:20px;

}
